<mat-card class="university-card">

  <img mat-card-image [src]="university.urlToLogoAsString" [alt]="university.name + ' logo'">

  <mat-card-header>
    <mat-card-title>{{ university.name }}</mat-card-title>
    <mat-card-subtitle>{{ university.country }} ({{ university.countryCode }})</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p><strong>{{ 'university.domain' | translate }}</strong> {{ university.domain }}</p>
  </mat-card-content>

  <mat-card-actions>
    <a mat-button color="primary" [href]="university.urlAsString" target="_blank">
      {{ 'university.read-more' | translate }}
    </a>
  </mat-card-actions>

</mat-card>
